<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="header">
  <!-- <i (click)="opened = !opened" class="material-icons menu-icon">menu</i> -->
  <mat-icon (click)="opened = !opened" class="material-icons menu-icon" svgIcon="menu"></mat-icon>
  <span class="main-title" (click)="toggleFullScreen()">{{title}}</span>
</mat-toolbar>
<mat-sidenav-container class="body">
  <mat-sidenav class="side-bar" position="start" #sidenav mode="side" [(opened)]="opened">
    <mat-list class="mat-list-item">
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="userService.isLoggedIn()" (click)="opened = !opened" routerLink="/dashboard"> Dashboard </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="!userService.isLoggedIn()" (click)="opened = !opened" routerLink="/login">Login</mat-list-item>
      <mat-list-item *ngIf="!userService.isLoggedIn()" (click)="opened = !opened" routerLink="/create-account">Create Account</mat-list-item>
      <mat-list-item *ngIf="userService.isLoggedIn()" (click)="opened = !opened" (click)="userService.logout()" routerLink="/login">Logout</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
