.menu-icon {
  margin: 5px 20px 5px 5px;
  cursor: pointer;
  color: #ffffff;
}
.header {
  background-color: #929292;
}
.main-title {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
.side-bar {
  width: 300px;
  background-color: #929292;
  /*F9685D red
  3aaee0 blue*/
}

.body {
  min-height: 95vh;
  background: #f5f5f5;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.mat-list-item {
  color: #ffffff;
}
.manage-section {
  height: 100px !important;
  display: block;
}

.sub-title {
  display: block !important;
  height: 35px !important;
  padding-left: 50px;
  font-size: .9em;
}

.last {
  padding-bottom: 15px;
}

.icons {
  margin-right: 10px;
}

.not-router-link {
  cursor: default !important;
}

mat-list-item {
  cursor: pointer;
}
