<div class="login-page" fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="!reset" fxLayout="column" fxLayoutAlign="center center" class="form">
    <h1>Road Tracking</h1>
    <mat-form-field class="full-width">
      <input matInput type="email" [(ngModel)]="userData.email" placeholder="email" value="" (keydown.enter)="onKeydown($event)">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" [(ngModel)]="userData.password" placeholder="password" value="" (keydown.enter)="onKeydown($event)">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="login-button" (click)="login()" mat-button>Log In</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <p class="reset" (click)="reset = true">Forgot Password? <span class="highlight">Reset</span></p>
      <p class="create" routerLink="/create-account">Don't have an account? <span class="highlight">Create Account</span></p>
      <h4 class="error-message">{{error}}</h4>
    </div>
  </div>
  <!-- <div *ngIf="reset" fxLayout="column" class="form">
    <h1>Reset Password</h1>
    <mat-form-field class="full-width">
      <input matInput type="email" [(ngModel)]="userData.email" placeholder="email" value="">
    </mat-form-field>
    <button class="full-width login-button" [disabled]="!userData.email" (click)="sendPWResetEmail(userData.email)" mat-button>Send Reset Email</button>
    <p class="have-account" (click)="reset = false">Remember your password? <span class="highlight">Login here</span></p>
  </div> -->
</div>
