.login-page {
  width: 100%;
}

.form {
  width: 300px;
  margin: 0 auto;
}

.reset {
  font-size: .7em;
}

.create {
  font-size: .7em;
}

.error-message {
  font-size: .7em;
  color: #FF8D8F;
}

.login-button {
  width: 100%;
  background-color: #647281;
  color: white;
}

.highlight {
  color: #6AA5FF;
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
