<div class="dashboard-page" fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="map-card">
      <img mat-card-image src="../../assets/street-view.png">

    </mat-card>
    <mat-card class="list-card">
      <mat-list class="segment-list">
        <mat-list-item class="labels">
          Segment ID - Score
        </mat-list-item>
        <mat-list-item class="hover-hand" (click)="selectedSegment = segment; selectedIndex = i" *ngFor="let segment of segments; let i=index">
          #{{segment.id}} - {{segment.score}}/10
        </mat-list-item>
        <mat-divider *ngIf="i < segments.length"></mat-divider>
      </mat-list>
    </mat-card>
  </div>
  <mat-card class="card-image" *ngIf="selectedSegment.id">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <div fxLayout="column" fxLayoutAlign="center start">
        <mat-card-title>Road Segment #{{selectedSegment.id}}</mat-card-title>
        <mat-card-subtitle>Date Taken: {{selectedSegment.date | date: 'medium'}}</mat-card-subtitle>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button (click)="selectSegment(-1)">Previous</button>
        <button mat-button (click)="selectSegment(1)">Next</button>
      </div>
    </mat-card-header>
    <img mat-card-image src="{{selectedSegment.image}}">
    <mat-card-content>
      <!-- <div *ngFor="let detail of selectedSegment.details">
        {{detail.type}} - {{detail.accuracy}}%
      </div> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Bookmark</button>
      <button mat-button>Queue for Repair</button>
      <button mat-button>Action Item #3</button>
      <button mat-button>Action Item #4</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card-results" *ngIf="selectedSegment.id">
    <mat-card-header fxLayout="column" fxLayoutAlign="center start">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Distress Rating</mat-card-title>
      <mat-card-subtitle>Score: {{selectedSegment.score}}/10</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="{{selectedSegment.image}}"> -->
    <mat-card-content>
      <div *ngFor="let detail of selectedSegment.details | orderBy : ['-accuracy']" class="detail-row" fxLayout="column" fxLayoutAlign="center center">
        <div class="scores" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="detail">{{detail.type}}</div>
          <div class="detail">{{detail.accuracy}}%</div>
        </div>
        <div class="scores" fxLayout="row" fxlayoutAlign="start center">
          <div class="detail-description">{{detail.description}}</div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Report Innaccurate Results</button>
    </mat-card-actions>
  </mat-card>
</div>
