.dashboard-page {
  width: 100%;
}

.map-card {
  width: 300px;
  height: 200px;
  /*max-height: 50vh;*/
}

.list-card {
  padding-top: 0px;
  width: 300px;
  max-height: 50vh;
  overflow-y: scroll;
  position: relative;
}

.segment-list {
  padding-top: 0px !important;
}

.labels {
  position: sticky;
  background-color: white;
  top: 0px;
  left: 15px;
  z-index: 9;
  border-bottom: 2px solid #929292;
}

.card-image {
  width: 500px;
  margin: 0 10px;
}

.card-results {
  width: 300px;
}

.hover-hand {
  cursor: pointer;
}

.scores {
  width: 100%;
}

.detail-row {
  margin-bottom: 3px;
}

.detail {
  font-size: 1.3em;
}
.detail-description {
  font-size: .8em;
  width: 250px;
}
