/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*background-color: blue;*/
  /*height: 100vh;*/
}

:focus {
  outline: none;
}
