<div class="login-page" fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="!reset" fxLayout="column" fxLayoutAlign="center center" class="form">
    <h1>Create Account</h1>
    <mat-form-field class="full-width">
      <input matInput type="email" [(ngModel)]="userData.first_name" placeholder="First Name" value="">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="email" [(ngModel)]="userData.last_name" placeholder="Last Name" value="">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="email" [(ngModel)]="userData.email" placeholder="Email" value="">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" [(ngModel)]="userData.password" placeholder="Password" value="">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" [(ngModel)]="userData.confirm_password" placeholder="Confirm Password" value="" [ngClass]="{'invalid-password': userData.password !== userData.confirm_password}">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="login-button" (click)="createAccount()" mat-button [disabled]="userData.password.length === 0 || userData.password !== userData.confirm_password || !userData.first_name || !userData.last_name || !userData.email">Create Account</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <!-- <p class="reset" (click)="reset = true">Forgot Password? <span class="highlight">Reset</span></p> -->
      <p class="create" routerLink="/login">Already have an account? <span class="highlight">Log In</span></p>
      <h4 class="error-message">{{error}}</h4>
    </div>
  </div>
  <!-- <div *ngIf="reset" fxLayout="column" class="form">
    <h1>Reset Password</h1>
    <mat-form-field class="full-width">
      <input matInput type="email" [(ngModel)]="userData.email" placeholder="email" value="">
    </mat-form-field>
    <button class="full-width login-button" [disabled]="!userData.email" (click)="sendPWResetEmail(userData.email)" mat-button>Send Reset Email</button>
    <p class="have-account" (click)="reset = false">Remember your password? <span class="highlight">Login here</span></p>
  </div> -->
</div>
